<div class="text-center">
    <h1 class="text-5xl font-extrabold text-bts-yellow-500 [text-shadow:_1px_1px_2px_rgb(0_0_0_/_80%)]  ">Connectez-vous à Back To School</h1>
    <p class="mt-4 text-xl">
        Vous n'avez pas encore de compte? Dans ce cas,
        <a href="{{ path('app_register') }}" class="font-semibold underline">
            Inscrivez-vous
        </a>
    </p>
</div>