<div class="text-center">
    <h1 class="text-4xl font-extrabold">Connectez vous à Back To School</h1>
    <p class="mt-4">
        Vous n'avez pas encore de compte? Dans ce cas,
        <a href="{{ path('app_register') }}" class="font-semibold underline">
            Inscrivez-vous
        </a>
    </p>
</div>