<div class="text-center">
    <h1 class="text-4xl font-extrabold">Inscrivez vous à Back To School</h1>
    <p class="mt-4">
        Vous avez déjà un compte ? Dans ce cas,
        <a href="{{ path('app_connexion') }}" class="font-semibold underline">
            Connexion
        </a>
    </p>
</div>