<div class="text-center">
    <h1 class="text-5xl font-extrabold text-bts-yellow-500 [text-shadow:_1px_1px_2px_rgb(0_0_0_/_80%)]">Inscrivez-vous à Back To School</h1>
    <p class="mt-4 text-xl">
        Vous avez déjà un compte ? Dans ce cas,
        <a href="{{ path('app_connexion') }}" class="font-semibold underline">
            Connexion
        </a>
    </p>
</div>