<div class="bg-neutral-800 flex justify-center py-8 mt-16">
    <div class="flex items-center sm:flex-row flex-col relative z-10">
        <div class="w-20">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset(asset("build/images/bts_logo_white.png")) }}" alt="">
            </a>
        </div>
        <p class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 Back To School
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 justify-center sm:justify-start"></span>
    </div>
</div>
