<div class="text-center">
    <h1 class="text-5xl font-extrabold text-bts-yellow-500 [text-shadow:_1px_1px_2px_rgb(0_0_0_/_80%)]">Modifier ou supprimer votre annonce</h1>
    <p class="mt-4 text-xl">
        Remplissez le formulaire ci-dessous pour modifier votre annonce
    </p>
</div>