{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% include "commons/_headerV2.html.twig" %}

    <div class="container">
        <nav class="rounded-md bg-neutral-100 px-5 py-3 mt-4">
            <ol class="flex">
                <li>
                    <a href="{{ path('app_dashboard') }}" class="text-indigo-500 hover:underline hover hover:text-fuchsia-600">
                        Accueil
                    </a>
                    <span class="mx-2 text-neutral-500 dark:text-neutral-300">/</span>
                </li>
                <li class="text-neutral-500 dark:text-neutral-300">Créer votre annonce</li>
            </ol>
        </nav>
    </div>


    {% include "commons/_layoutPage.html.twig" with {
        order : "",
        title: "ad/_adCreationPageTitle.html.twig",
        image : asset('build/images/edit.svg'),
        formulaire : "ad/_adCreationForm.html.twig"
    }%}

    {% include "commons/_footer.html.twig" %}
{% endblock %}
