{% extends 'base.html.twig' %}

{% block title %}Modifier mon article{% endblock %}

{% block content %}
    {% include "commons/_headerV2.html.twig" %}

    <nav class="container rounded-md bg-neutral-100 px-5 py-3 dark:bg-neutral-600 mt-4">
        <ol class="list-reset flex">
            <li>
                <a href="{{ path('app_dashboard') }}" class="text-indigo-500 hover:underline hover hover:text-fuchsia-600"
                >
                    Acceuil
                </a
                >
            </li>
            <li>
                <span class="mx-2 text-neutral-500 dark:text-neutral-300">/</span>
            </li>
            <li>
                <a href="{{ path('user_annonce') }}" class="text-indigo-500 hover:underline hover hover:text-fuchsia-600"
                >
                    Liste de vos annonces
                </a
                >
            </li>
            <li>
                <span class="mx-2 text-neutral-500 dark:text-neutral-300">/</span>
            </li>
            <li class="text-neutral-500 dark:text-neutral-300">Modifier ou supprimer l'annonce {{ product.title }}</li>
        </ol>
    </nav>

    {% include "commons/_layoutPage.html.twig" with {
        order : "lg:order-last",
        title: "ad/_adEditTitle.html.twig",
        image : asset('build/images/setting.svg'),
        formulaire : "ad/_adEditForm.html.twig"
    }%}

    {% include "commons/_footer.html.twig" %}
{% endblock %}