{% form_theme formView 'form/_customFormTheme.html.twig' %}
{% set placeholder = "Envoyez un message à " ~ product.author.firstName ~ " " ~ product.author.lastName ~ " concernant son annonce " ~ product.title %}

<ul class="text-justify">
    <li class="mb-4">
        <h2 class="font-semibold text-sm mb-2">Description</h2>
        <p>{{ product.description }}</p>
    </li>
    <li class="mb-4 border-b border-neutral-400 pb-4 flex justify-around">
        {% include "components/_badge.html.twig" with {text: product.author.city, color: "bg-fuchsia-600"} %}
        {% include "components/_badge.html.twig" with {text: product.category.name, color: "bg-bts-yellow-600"} %}
        {% include "components/_badge.html.twig" with {text: product.subject.name, color: "bg-indigo-600"} %}
    </li>
    <li>
        <h2 class="font-semibold text-sm mb-2">Contact</h2>
        <div class="flex flex-col">
            {{ form_start(formView) }}
            {{ form_row(formView.message, {'attr': {'placeholder': placeholder, 'class': 'h-28 min-h-full shadow-lg bg-white border border-neutral-400 text-neutral-900 text-base rounded-lg focus:ring-transparent focus:border-neutral-700 block w-full p-2.5'}}) }}
            <button type="submit" class="block mx-auto mt-4 hover:text-indigo-500 border hover:border-indigo-500 bg-indigo-500 hover:bg-transparent text-white active:bg-indigo-600 font-bold px-4 py-2 rounded-full outline-none focus:outline-none ease-linear transition-all duration-150"
            >
                Contacter
            </button>
            {{ form_end(formView) }}
            {% include "components/_successMessage.html.twig" %}
        </div>
    </li>
</ul>