<section class="text-gray-600 body-font overflow-hidden">
    <div class="mx-auto">
        <div class="mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 flex flex-col items-start justify-center">
                <div class="border-b-2 border-gray-100 pb-5 mb-5">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ title }}</h1>
                    <p class="leading-relaxed">{{ description }}</p>
                </div>
                <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                    Button
                </button>
            </div>
        </div>
    </div>
</section>
