<div class="w-full border border-neutral-300 rounded-2xl py-4">
    <nav>
        <ul class="flex flex-col md:flex-row md:flex-wrap justify-center">
            <li class="basis-1/3 m-4">
                {% include 'components/anchorLinkButton.html.twig' with {
                    linkName: "Donnez vos fournitures",
                    linkPath: '#'}
                %}
            </li>
            <li class="basis-1/3 m-4">
                {% include 'components/anchorLinkButton.html.twig' with {
                    linkName: "Recherchez des fournitures",
                    color: 'red',
                    linkPath: path('index_annonces')}
                %}
            </li>
            <li class="basis-1/3 m-4">
                {% include 'components/anchorLinkButton.html.twig' with {
                    linkName: "Vos annonces",
                    linkPath: '#'}
                %}
            </li>
            <li class="basis-1/3 m-4">
                {% include 'components/anchorLinkButton.html.twig' with {
                    linkName: "Vos paramètres",
                    linkPath: path('app_setting_user')}
                %}
            </li>
        </ul>
    </nav>
</div>
