<nav class="">
    <ul class="flex flex-col md:flex-row md:flex-wrap justify-center">
        <li class="md:w-1/3 2xl:w-1/5 m-4">
            {% include 'components/_anchorLinkButton.html.twig' with {
                linkName: "Donnez vos fournitures",
                linkPath: path('create_annonce'),
                icon: 'gift',
                color: 'green'
            }
            %}
        </li>
        <li class="md:w-1/3 2xl:w-1/5 m-4">
            {% include 'components/_anchorLinkButton.html.twig' with {
                linkName: "Recherchez des fournitures",
                color: 'red',
                linkPath: path('index_annonces'),
                icon: 'search',
            }
            %}
        </li>
        <li class="md:w-1/3 2xl:w-1/5 m-4">
            {% include 'components/_anchorLinkButton.html.twig' with {
                linkName: "Vos annonces",
                linkPath: path('user_annonce'),
                icon: 'icons/_search_lordIcon.html.twig',
                icon: 'ad',
                color: "yellow"
            }
            %}
        </li>
        {% if "ROLE_ADMIN" in app.user.roles %}
            <li class="md:w-1/3 2xl:w-1/5 m-4">
                {% include 'components/_anchorLinkButton.html.twig' with {
                    linkName: "Administration",
                    linkPath: path('admin'),
                    icon: 'setup',
                    color: 'midnight'
                }
                %}
            </li>
        {% else %}
                <li class="md:w-1/3 2xl:w-1/5 m-4">
                    {% include 'components/_anchorLinkButton.html.twig' with {
                        linkName: "Vos paramètres",
                        linkPath: path('app_setting_user'),
                        icon: 'setup',
                        color: 'midnight'
                    }
                    %}
                </li>
        {% endif %}
    </ul>
</nav>
