<div class="flex flex-col text-center w-full mb-20 mt-32">
    <h2 class="text-4xl text-bts-green-500 font-extrabold mb-1">Bonjour {{ firstName }} {{ lastName }}</h2>
    <h1 class="text-2xl font-semibold text-gray-900">Bienvenue sur votre profil.</h1>
</div>