<div class="flex flex-col items-center lg:flex-row lg:justify-center w-full mb-4 mt-32 lg:mb-8">
    <div class="block w-20">
        {{ include('icons/_user_LordIcons.html.twig') }}
    </div>
    <div class="flex items-center">
        <p class="lg:text-2xl text-center">Bonjour <span class="font-bold">{{ firstName }} {{ lastName }}</span>, bienvenue sur votre profil.</p>
    </div>
</div>