{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block content %}
    {% include 'commons/_nav.html.twig' with {
        bgColor: "bg-bts-green-500",
        waveStatus: true

    } %}
    <div class="w-11/12 mx-auto min-h-full">
        {% include('dashboard/_profileGretting.html.twig') with {
            firstName: app.user.firstName,
            lastName: app.user.lastName
        }
        %}
        {% include 'dashboard/_dashboardFeatures.html.twig' %}
    </div>
{% endblock %}
