{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block content %}
    {% include 'commons/_nav.html.twig' with {
        bgColor: "bg-midnight"
    } %}
    <h1>Bienvenue {{ app.user.firstName }} {{ app.user.lastName }}</h1>
{% endblock %}
